.homepage {
  font-family: "Special Elite", serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.content {
  text-align: center;
}

.title {
  font-size: 36px;
  color: #804000;
  text-transform: uppercase;
  margin: 20px 0;
}

.description {
  font-size: 20px;
  color: #333;
  font-style: italic;
}
