.card {
  list-style: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.material-symbols-outlined.clicked {
  background-color: red;
}

.HeartAnimation {
  display: inline-block;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  left: 10px;
  top: 27px;
}

.animate {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.CheckAnimation {
  display: inline-block;
  background-image: url("/checkGrey.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  height: 35px;
  width: 35px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-image 0.3s;
  position: relative;
  left: 10px;
  top: 7px;
}

.animateCheck {
  background-image: url("/checkBlue.svg");
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Pathway Extreme";
  margin-bottom: 10px;
  color: #333;
  line-height: 1.5;
  padding: 15px;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline;
  padding-left: 15px;
}

/* .button {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #005599;
} */

/* Your CSS module (e.g., Button.module.css) */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077cc; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 6px; /* Rounded corners */
  font-size: 15px; /* Font size */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s; /* Add smooth transitions */

  /* Add a box shadow for depth */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #005599; /* Slightly darker background on hover */
  color: #fff; /* Text color on hover remains white */
}

.description {
  font-size: 20px;
  line-height: 1.4;
  color: #555;
  padding: 15px;
  text-align: left;
}

.content {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Roboto";
  word-spacing: 0.2em;
}

.content:hover {
  background-color: #e0e0e0;
  color: #222;
}
