/* Your CSS module */
.pagenav {
  text-align: right;
  font-family: "Times New Roman", serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navlink {
  text-decoration: none;
  font-size: 18px;
  color: #804000;
  margin-right: 20px;
  transition: color 0.2s;
}

.navlink:hover {
  color: #996633;
}
